@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
.ac-overlay1 {
    box-sizing: border-box;
    height:100%;
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(62, 39, 35, 1.0);
    z-index: 99998;
    cursor: wait;
    opacity: 1.0 !important; 
}

.ac-container {
    box-sizing: border-box;
    /*font-family: 'Bree Serif', serif; */
    width: 360px;
    position: fixed;
    padding: 20px 20px 30px 20px;
    background: rgba(228, 156, 0, 1.0);
    z-index: 99999;
    text-align:center;
    /*border-radius: 4px;*/
    box-shadow:0px 0px 5px #000;
    font-weight:normal;
    opacity: 1.0;
}
.ac-container h2 {
    box-sizing: border-box;
    margin:0 0 14px 0;
    font-size:26px;
    border-bottom:1px dashed rgba(62, 39, 35, 1.0);
    padding-bottom:11px;
}
.ac-container h3 {
    box-sizing: border-box;
    color: rgba(62, 39, 35, 1);
    margin-bottom:5px;
    margin-top:15px;
    font-size:26px;
}
.ac-container p {
    box-sizing: border-box;
    margin:0 0 20px 0;
    font-size: 14px;
    color: rgba(62, 39, 35, 1);
    line-height: 20px;
}
.ac-container p strong {
    color: rgba(62, 39, 35, 1);
}
.ac-container select, 
.ac-container input {
    background-color: white;
    box-sizing: border-box;
    color: rgba(62, 39, 35, 1);
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    /*border-radius: 3px;*/
    margin-right:5px;
    border:1px solid #ccc;
}
.ac-container input.day{
    box-sizing: border-box;
    width:45px;
    height:28px;
}
.ac-container input.year{
    box-sizing: border-box;
    width:70px;
    height: 28px;
}
.ac-container select {
    box-sizing: border-box;
    height:28px;
    padding-left:4px;
}
.ac-container button {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    /*font-weight: bold;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
    padding: 4px 10px 4px 10px;
    font-size: 12px;
    line-height: 1.5;
    width: 84px;
    background: rgba(62, 39, 35, 1.0);
    color:#fff; 
    /*text-shadow:1px 1px 0 #84A51D;*/

}
.ac-container button:hover{
    box-sizing: border-box;
    background: rgba(161, 136, 127, 1.0);
}
.ac-container .errors  {
    box-sizing: border-box;
    margin:0 0 20px 0;
    font-size: 12px;
    line-height: 18px;
    color: rgba(62, 39, 35, 1.0);
}
.ac-container .errors ul,
.ac-container .errors li{
    box-sizing: border-box;
    padding:0 0 3px 0;
    margin:0 0 0 0;
    list-style:none;
}
.ac-container .errors li span {
    box-sizing: border-box;
    font-size:9px;
    background: rgba(62, 39, 35, 1.0); 
    border:1px solid #ccc;
    width: 14px;
    height:14px;
    /*border-radius:7px;*/
    display:inline-block;
    color: rgba(62, 39, 35, 1.0);
    font-weight: bold;
    text-align: center;
    margin-right:5px;
    line-height: 13px;
    position:relative;
    top:-2px;
    text-shadow: 1px 1px 0 #fff;
    font-family:arial;
}
.ac-container .fields {
    box-sizing: border-box;
    clear:both;
    margin:10px 0 10px 0;
}             
@media (max-width: 500px) {
    .ac-container {
        box-sizing: border-box;
        width:auto;
        margin-right:20px;
        margin-left:1px;
    }
    .ac-container select, 
    .ac-container input.day, 
    .ac-container input.year{
        box-sizing: border-box;
        display:block;
        margin-bottom:10px;
        margin-right:0;
        width:100%;
    }
    .ac-container button {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }

}