/*Pirmas hover*/
.con_hover {
    position: relative;
    width: 200px;
}

.pic_hover {
  border-radius: 50%;
  opacity: 1;
  display: block;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mid_hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.con_hover:hover .pic_hover {
  opacity: 0.1;
}

.con_hover:hover .mid_hover {
  opacity: 1;
}

.text_hover {
  background-color: rgba(228, 156, 0, 0);
  color: rgba(228, 156, 0, 1.0);
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
}



/*Antras hover*/
.con_hover2 {
    position: relative;
    width: 200px;
}

.pic_hover2 {
  border-radius: 50%;
  opacity: 1;
  display: block;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mid_hover2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.con_hover2:hover .pic_hover2 {
  opacity: 0.1;
}

.con_hover2:hover .mid_hover2 {
  opacity: 1;
}

.text_hover2 {
  background-color: rgba(228, 156, 0, 0);
  color: rgba(62, 39, 35, 1.0);
  font-size: 40px;
}