
/*Lietuvos alus*/
@media only screen and (max-width : 420px) {
	.beer_text {
		color: white;
		letter-spacing: 5px;
		font-size: 20px;
		position: absolute;
		top: -35%;
		left: 22%;
		z-index: 3;
	}
}

@media only screen and (min-device-width : 421px) and (max-width : 800px) {
	.beer_text {
		color: white;
		letter-spacing: 5px;
		font-size: 20px;
		position: absolute;
		top: -31%;
		left: 8%; /*70px*/
		z-index: 3;
	}
}



/*Index.html Sliders*/
@media only screen and (max-width : 420px) {
	.my.header {
		font-size: 240%;
	}
}



/*Tabs*/
@media only screen and (max-width : 420px) {
	.tabs .tab a {
		font-size: 8px;
	}
}



/*Katerinos*/
@media only screen and (min-width: 993px) {
.row .col.marg{ margin-left: 11.5%; }
.row .col.marg1{ margin-left: 5.5%; }
.row .col.photobub{margin-top: -190px; }
.row .col.tabtab{ margin-top: -186px; }
};


