
/*Our page colors*/
.beer_color {
	background-color: rgba(228, 156, 0, 1.0);
}

.dark_color {
	background-color: rgba(62, 39, 35, 1.0);
}

.light_color {
	background-color: rgba(161, 136, 127, 1.0);
}


/*Lietuvos alus užrašas prie animated logo*/
.beer_text {
	color: white;
	letter-spacing: 5px;
	font-size: 20px;
	position: absolute;
	top: -22%;/*-22%;31*/
	left: 7%;/*80px;/6%/8*/
	z-index: 3;
}



/*Breadcrumbs*/
.bc {
	vertical-align: middle; 
	line-height: 35px; 
	z-index: 999;
}

.bc_col {
	margin-left: 10px;
}

.bc_text {
	color: rgba(228, 156, 0, 1.0); /*beer_color*/
	font-size: 15px;
	padding-left: 10px;
}



/*Dropdown menu*/
.divider {
	background-color: rgba(62, 39, 35, 1.0); /*dark_color*/
}

.dropdown-content {
	background-color: rgba(228, 156, 0, 1.0); /*beer_color*/
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background-color: rgba(62, 39, 35, 1.0); /*dark_color*/
}

.dropdown-content li.active.selected {
	background-color: rgba(228, 156, 0, 1.0); /*beer_color*/
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 16px;
	color: rgba(62, 39, 35, 1.0); /*dark_color*/
}

.dropdown-content li:hover > a, .dropdown-content li.active > span { /*sukuriau, nes materialize neturejo*/
	color: rgba(228, 156, 0, 1.0); /*beer_color*/
}

.side-nav li > a {
	font-size: 16px;
	background-color: rgba(228, 156, 0, 1.0); /*beer_color*/
	color: rgba(62, 39, 35, 1.0); /*dark_color*/
}

.side-nav li > a:hover {
	font-size: 16px;
	background-color: rgba(62, 39, 35, 1.0); /*dark_color*/
	color: rgba(228, 156, 0, 1.0); /*beer_color*/
}

.side-nav {
	background-color: rgba(62, 39, 35, 1.0); /*dark_color*/
}



/*Slider*/
.slider_head {
	font-size: 400%; 
	color: white;
	text-shadow: 3px 3px black;
}

/*Slider bottom text white*/
.slider_date {
	font-size: 40px;
	color: white;
	text-shadow: 3px 3px black;
}

/*Slider button*/
.slider_btn {
	background-color: rgba(62, 39, 35, 1.0); /*dark_color*/
	opacity: 0.9;
}

/*Slider button text*/
.slider_btn_text {
	font-size: 15px;
	color: rgba(245, 245, 245, 1); /*white*/
}

/*Slider indicator*/
.slider .indicators .indicator-item {
	background-color: rgba(62, 39, 35, 1.0); /*dark_color*/
	height: 16px;
  	width: 16px;
}

/*Slider indicator active*/
.slider .indicators .indicator-item.active {
  background-color: rgba(228, 156, 0, 1.0); /*beer_color*/
}



/*Dundulis, Genys, Rinkuskiai, Sakiskiu html slider indicator panaikinimas*/
/*Slider indicator active*/
.my.slider .indicators .indicator-item.active {
  background-color: transparent;
}
/*Slider indicator active*/
.my.slider .indicators .indicator-item {
	background-color: transparent;
}




/*Cards*/
.card_col {
	margin-top: 40px;
}

.btn-large {
	background-color: rgba(228, 156, 0, 1.0); /*beer_color*/
}

.btn-large:hover {
	background-color: rgba(62, 39, 35, 1.0); /*dark_color*/
}


.btn-floating {
	background-color: rgba(245, 245, 245, 1.0) /*white*/
}

.btn-floating:hover {
	background-color: rgba(228, 156, 0, 1.0); /*beer_color*/
}

i.my.material-icons {
	color: rgba(62, 39, 35, 1.0); /*dark_color*/
}

.card {
	background-color: rgba(228, 156, 0, 1.0); /*beer_color*/
}

.my.text_hover {
	color: rgba(62, 39, 35, 1.0);
	text-shadow: none;
}



/*Tab mygtukai*/
.tabs .tab a {
	color: rgba(32, 20, 18, 1.0);
}

.tabs .tab a:hover {
	color: white;
	border-bottom: 2px solid rgba(245, 245, 245, 1); /*white*/
}

.tabs .tab a.active {
	color: rgba(245, 245, 245, 1); /*white*/
}

.tabs .indicator {
	background-color: transparent;
}



/*About_*/
.photobub_img {
	border: 5px solid rgba(228, 156, 0, 1.0); /*beer_color*/
	width: 100%; height: auto;
}

/*wallpaper*/
.wpp_img {
	width: 100%; 
	height: auto; 
	margin-bottom: -10px;
}



/*Charts*/
.chart {
  width: 100%; 
  min-height: 450px;
}



/*Age verification*/
select.month{ display: initial !important; }



/*margin-bottom: 30px; margin-top: 30px;*/
.mt_mb_30 {
	margin-bottom: 30px;
	margin-top: 30px;
}



/*Counter ir dunduliai visi*/
.fa-beer, .fa-shopping-cart, .fa-truck, .fa-plus  {
	color: rgba(62, 39, 35, 1.0);
}

div.ch {
	margin-bottom: 20px; 
	height: 460px;
	width: 100%;
}

p.cnt {
	color: color: rgba(62, 39, 35, 1.0);
}

p.my {
	font-size: 18px;
}

h1.my {
	font-size: 52px;
	background-color: rgba(161, 136, 127, 1.0); 
	color: rgba(228, 156, 0, 1.0); 
	text-shadow: 4px 4px rgba(62, 39, 35, 1.0);
}

h2.my {
	font-size: 45px;
	color: white;
}

h3.my {
	background-color: rgba(161, 136, 127, 1.0); 
	color: rgba(228, 156, 0, 1.0); 
	text-shadow: 3px 3px rgba(62, 39, 35, 1.0);
}

/*News*/
.my.btn-flat {
	color: white;
}

/*card border*/
.card_bd {
	border-bottom: 1px solid rgba(62, 39, 35, 1.0);
}
p.my_news {
	/*font-size: 22px;*/
	color: rgba(62, 39, 35, 1.0);
}


/*About us*/
.about_us {
	font-size: 200%;
}